<%= form_with(model: result) do |form| %>
  <% if result.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
        <% result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :emoji, style: "display: block" %>
    <%= form.text_field :emoji %>
  </div>

  <div>
    <%= form.label :mood, style: "display: block" %>
    <%= form.text_field :mood %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
